@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
.link {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #808080;
}

.link:hover {
  color: #DA0009;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.subTitle {
  color: #DA0009;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 600;
  padding-top: 10px;
}

.subTitleSpan {
  display: inline-block;
}

.headingOne {
  font-size: 3.5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #808080;
}

.headingTwo {
  font-size: 3.2rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.5rem;
  color: #808080;
  font-weight: 300;
  line-height: 1.65;
}

.headingOneSpan {
  display: inline-block;
}

.button {
  padding: 15px 30px;
  background-color: #DA0009;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  margin: 20px 0px;
}

.spanRed {
  color: #DA0009;
}

.icon {
  padding-right: 25px;
}

.transformScale {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .headingOne {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 992px) {
  .headingOne {
    font-size: 6rem;
    max-width: 900px;
  }
  .subTitle {
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  .headingTwo {
    font-size: 5.5rem;
  }
  .paragraph {
    font-size: 2rem;
  }
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: #FFFFFF;
  background: #DA0009;
}

::selection {
  color: #FFFFFF;
  background: #DA0009;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 100vw;
  height: 60px;
  z-index: 100;
  background-color: #FFFFFF;
}

.navigation__borderNavigation {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #86878648;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.navigation__unorderList {
  display: none;
}

.navigation__envelopeIcon {
  width: 25px;
}

.navigation__envelopeBox, .navigation__menuBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 15%;
  height: 100%;
}

.navigation__logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 70%;
  height: 100%;
}

.navigation__mobileButton {
  width: 20px;
  height: 18px;
}

.navigation__line {
  width: 20px;
  height: 2px;
  background: #DA0009;
}

.navigation__line:nth-child(2) {
  margin-top: 5px;
}

.navigation__line:last-child {
  margin-top: 5px;
}

.navigation__envelopeBoxBorder {
  position: absolute;
  top: 0;
  left: 100%;
  width: 1px;
  height: 100%;
  background-color: #86878648;
}

.navigation__menuBoxBorder {
  position: absolute;
  top: 0;
  right: 100%;
  width: 1px;
  height: 100%;
  background-color: #86878648;
}

.header {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  z-index: 100;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  z-index: 1;
}

.header__bottomLine {
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #86878648;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.header__bottomLineTop {
  position: absolute;
  width: 1px;
  height: 10%;
  background-color: #86878648;
  bottom: 0%;
  right: 75%;
  z-index: 100;
}

.header__bottomLineTop::after {
  content: "Przewiń";
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #808080;
}

.header__bottomLineTopRed {
  position: absolute;
  width: 7.5px;
  height: 30px;
  background-color: #DA0009;
  bottom: 7.2%;
  right: 75%;
  z-index: 100;
}

.solutions {
  position: relative;
  width: 100vw;
  padding: 75px 30px;
}

.solutions__bottomLineTop {
  position: absolute;
  width: 1px;
  height: 20%;
  background-color: #86878648;
  top: -75px;
  right: 75%;
  z-index: 100;
}

.solutions__imageArticle {
  width: 100%;
}

.solutions__image {
  width: 100%;
  position: relative;
  z-index: 1000;
}

.solutions__imageArticle {
  display: none;
}

.products {
  position: relative;
  width: 100vw;
  padding: 75px 30px;
  z-index: 100;
}

.products__headingTwo {
  text-align: center;
}

.products__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px;
}

.products__productBox {
  position: relative;
  width: 85%;
  height: 150px;
  background-color: #F6F6F6;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
}

.products__image {
  width: 55%;
  position: absolute;
  right: 0;
}

.products__paragraph {
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #808080;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.products__bottomLine {
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #86878648;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.aboutUs {
  position: relative;
  width: 100vw;
  padding: 75px 0px 75px 30px;
}

.aboutUs__imageArticle {
  width: 100%;
}

.aboutUs__image {
  position: relative;
  width: 100%;
  z-index: 100;
}

.aboutUs__textArticle {
  padding-right: 30px;
}

.aboutUs__headingTwo {
  margin-top: 20px;
}

.aboutUs__paragraph {
  display: none;
  z-index: 1000;
}

.contact {
  width: 100vw;
  padding: 50px 0px;
  background-image: url(/image/footerImage.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 75px;
}

.contact__article {
  padding: 0 30px;
}

.contact__paragraph {
  font-size: 2.4rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #808080;
}

.contactInfo {
  position: relative;
  width: 100vw;
  padding: 75px 30px;
  position: relative;
  padding: 50px 30px;
}

.contactInfo__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactInfo__box {
  width: 50%;
}

.contactInfo__box100 {
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  border: 2px solid #86878648;
  margin-top: 20px;
  text-transform: uppercase;
}

.contactInfo__iconBox {
  width: 100%;
  margin-top: 20px;
  color: #808080;
  font-size: 2rem;
}

.contactInfo__topLine {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #86878648;
  top: 0;
  right: 0;
  z-index: 100;
}

.footer {
  position: relative;
  width: 100vw;
  padding: 75px 30px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #86878648;
  padding: 50px 30px;
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 80px;
  }
  .navigation__envelopeBox, .navigation__menuBox {
    width: 10%;
  }
  .navigation__logoBox {
    width: 80%;
  }
  .navigation__envelopeIcon {
    width: 30px;
  }
  .header__text {
    padding: 0px 10%;
  }
  .solutions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 75px 10%;
  }
  .solutions__textArticle {
    width: 65%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 50px;
  }
  .solutions__imageArticle {
    width: 35%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .solutions__imageArticle {
    display: block;
  }
  .solutions__bottomLineTop {
    height: 120%;
  }
  .products {
    padding: 75px 10%;
  }
  .products__article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products__productBox {
    width: 30%;
    height: 250px;
  }
  .products__image {
    width: 100%;
  }
  .products__paragraph {
    bottom: -20px;
    left: 50px;
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
    width: 100%;
    height: 100%;
    font-size: 2.8rem;
  }
  .aboutUs {
    padding: 75px 0px 75px 10%;
  }
  .aboutUs__textArticle {
    padding-right: 10%;
  }
  .aboutUs__headingTwo {
    margin-top: 40px;
  }
  .contact {
    padding: 75px 10%;
  }
  .contact__article {
    padding: 0px;
  }
  .contact__paragraph {
    font-size: 3.2rem;
  }
  .contactInfo {
    padding: 50px 10%;
  }
  .contactInfo__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contactInfo__box {
    width: 25%;
  }
  .contactInfo__box100 {
    width: 50%;
    margin-top: 0px;
  }
  .contactInfo__iconBox {
    width: 50%;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 998px) {
  .navigation {
    height: 100px;
  }
  .navigation__envelopeBox {
    width: 10%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .navigation__envelopeBoxBorder {
    left: 0;
  }
  .navigation__menuBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 75%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navigation__mobileButton {
    display: none;
  }
  .navigation__logoBox {
    width: 15%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navigation__envelopeIcon {
    width: 30px;
  }
  .navigation__unorderList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    margin-left: 50px;
  }
  .navigation__unorderListElement {
    padding: 20px 40px;
    text-transform: uppercase;
  }
  .header {
    height: calc(100vh - 100px);
  }
  .header__text {
    padding: 0px 15%;
  }
  .header__background {
    height: calc(100vh - 100px);
  }
  .header__video {
    height: calc(100vh - 100px);
  }
  .header__bottomLineTopRed {
    bottom: 12%;
  }
  .solutions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 15%;
  }
  .solutions__bottomLineTop {
    top: -120px;
  }
  .solutions__textArticle {
    width: 65%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .solutions__imageArticle {
    display: block;
    width: 35%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    z-index: 100;
  }
  .solutions__image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .solutions__paragraph {
    max-width: 500px;
  }
  .products {
    padding: 120px 15%;
  }
  .products__article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products__productBox {
    -webkit-transform-origin: top;
            transform-origin: top;
    width: 30%;
    min-height: 400px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .products__image {
    width: 100%;
  }
  .products__paragraph {
    top: 85%;
    left: 9%;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    width: 100%;
    height: 100%;
    font-size: 3rem;
  }
  .products__productBox:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 0px 120px 15%;
  }
  .aboutUs__imageArticle {
    position: relative;
    width: 60%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .aboutUs__textArticle {
    padding-right: 5%;
    width: 40%;
  }
  .aboutUs__headingTwo {
    margin-top: 0px;
  }
  .aboutUs__paragraph {
    display: block;
    font-size: 4rem;
    color: #808080;
    text-transform: uppercase;
    font-weight: 200;
    width: 460px;
    padding: 20px;
    position: absolute;
    top: 75%;
    left: 10%;
    background-color: #FFFFFF;
  }
  .contact {
    width: 70vw;
    margin: 120px 15% 120px 15%;
    padding: 50px 10%;
  }
  .contact__paragraph {
    font-size: 5rem;
  }
  .contactInfo {
    padding: 120px 15%;
    padding: 60px 15%;
  }
  .contactInfo__topLine {
    width: 80%;
  }
  .contactInfo__iconBox {
    font-size: 2.5rem;
  }
  .footer {
    padding: 60px 15%;
  }
}

@media screen and (min-width: 1500px) {
  .products__productBox {
    min-height: 550px;
  }
  .products__paragraph {
    top: 82%;
    font-size: 3.8rem;
  }
}
/*# sourceMappingURL=main.css.map */