$red: #DA0009
$grayLight: #86878648
$gray: #808080
$redLight: #DA0009
$white: #FFFFFF

.link
    font-size: 1.6rem
    font-weight: 500
    text-decoration: none
    color: $gray

    &:hover
        color: $redLight
        transition: color 0.2s

.subTitle
    color: $redLight
    text-transform: uppercase
    font-size: 1.3rem
    line-height: 1.5
    font-weight: 600
    padding-top: 10px

.subTitleSpan
    display: inline-block

.headingOne
    font-size: 3.5rem
    font-weight: 200
    text-transform: uppercase
    color: $gray

.headingTwo
    font-size: 3.2rem
    font-weight: 200
    text-transform: uppercase
    color: $gray
    margin-bottom: 20px

.paragraph
    font-size: 1.5rem
    color: $gray
    font-weight: 300
    line-height: 1.65

.headingOneSpan
    display: inline-block

.button
    padding: 15px 30px
    background-color: $red
    color: $white
    text-transform: uppercase
    border: none
    font-weight: bold
    font-size: 1.4rem
    letter-spacing: 1.5px
    margin: 20px 0px

.spanRed
    color: $red

.icon
    padding-right: 25px

.transformScale 
    transform: scale(0.9)

@media screen and ( min-width: 768px )
    .headingOne
        font-size: 4.5rem

@media screen and ( min-width: 992px )
    .headingOne
        font-size: 6rem
        max-width: 900px

    .subTitle
        margin-bottom: 50px
        font-size: 1.6rem

    .headingTwo
        font-size: 5.5rem

    .paragraph
        font-size: 2rem